.vs/
*/obj/
*/bin/
WorkFinderFrontEnd/.idea
WorkFinderFrontEnd/node_modules
WorkFinderFrontEnd/public/build
WorkFinderFrontEnd/*.orig
WorkFinderFrontEnd/package-lock.json
WorkFinderAPI/wwwroot/js/*.js

