.vs/
DatabaseDao/obj/
DatabaseDao/bin/
Models/obj/
Models/bin/
TestApplication/obj/
TestApplication/bin/
JSONConvertor/bin/
JSONConvertor/obj/
DBFiller/obj/
DBFiller/bin/
ConfigurationClass/obj/
ConfigurationClass/bin/
