/*BODY*/
body{
  font-family: ProximaNova,'Helvetica Neue',Helvetica,Arial,sans-serif!important;
  margin: 0;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

/*HEADER*/
.header{
    background-color: bisque;
    height: 2rem;
    width: 100%;
    position: fixed;
    margin-left: 0;
    align-content: center;
    
}

.header-navigation {
  list-style: none;
  margin: 0; 
  align-content: center;
  
  background: deepskyblue;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

    .header-navigation a {
      text-decoration: none;
      display: block;
      padding: 1em;
      color: white;
    }

    .header-navigation a:hover {
      background: darken(deepskyblue, 2%);
    }

    .header-navigation a { 
      text-align: center; 
      padding: 10px;
      border-top: 1px solid rgba(255,255,255,0.3); 
      border-bottom: 1px solid rgba(0,0,0,0.1); 
    }

    
    .header-navigation li:last-of-type a {
      border-bottom: none;
    }

    @media all and (max-width: 800px) {
      .header-navigation {
        justify-content: space-around;
      }
    }

    @media all and (max-width: 600px) {
      .header-navigation {
        -webkit-flex-flow: column wrap;
        flex-flow: column wrap;
        padding: 0;
      }
    }

 
    
/*SEARCH*/
.search{
    background-color: cornsilk;
    height: 400px;
}

.search-image{
  height: 400px;
  background-size: 100%;
  background-repeat: no-repeat;
  padding-top: 190px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.search-panel{
    width: 50%;
    height: 170px;
    background-color: white;
    margin-left: 25%;
    padding: 10px;
    padding-left: 55px;
} 

/*CATALOG*/
.catalog{
  background-color:  white;
  width: 70%;
  margin: auto;
  height: 650px;
}

.catalog-tables{
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

}
  .catalog-tables a:hover{
    text-decoration: none;
    color: red;
  }

.catalog-flex
{
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-left: 65px;
  width: 350px;
  height: 300px;
}

.catalog-item-flex
{
  margin: 15px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 0px;
  padding-left: 0px;
  font-size: 17px;
  text-decoration: none;
}

.catalog-head-link{
  color: black;
  font-weight: bold;
  padding-top: 45px;
  padding-bottom: 5px;
  padding-right: 0px;
  padding-left: 0px;
  font-size: 23px;
}

.catalog-image{
  height: 200px;
  width: 60%;
  background-size: 100%;
  margin: auto;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  justify-content: center;
}

/*SPECIALIST*/
.specialist-search{
  border-top: 1px solid #d6d7d8;
  background-color:  white;
  width: 100%;
  height: 550px;
}

.specialist-search-image{
  height: 150px;
  width: 50%;
  background-size: 100%;
  background-repeat: no-repeat;
  margin: auto;
  margin-bottom: 50px;
  justify-content: center;
}
.specialist-search-panel{
    width: 50%;
    height: 100px;
    background-color: white;
    margin-left: 25%;
    padding: 10px;
    padding-left: 55px;
    position: relative;
} 
.specialist-search-block{
  display: block;
  width: 55%;
  margin: auto;
}

.specialist-search-how{
  vertical-align: center;
    display: inline-block;
    width: 268px;
    margin-top: 0px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 20px;
}

.specialist-search-how-second{
  margin-left: 100px;
}

/*REVIEWS*/
.reviews{
  border-top: 1px solid #d6d7d8;
  width: 100%;
  height: 200px;
  background-color: white;
}

/*FOOTER*/
.footer{
    width: 100%;
    background-color: #33363b;
    height: 11rem;
}

.footer-content{
  margin: auto;
  width: 50%;
}

.footer-text{
  display: inline-flex;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-left: 5px;
  font-size: 17px;
  color: #afafaf;
}
.footer-information {
  display: inline-flex;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-left: 5px;
  font-size: 17px;
  color: #afafaf;
} 

.footer-text:hover{
   color:white;
}

input
{
    margin: 0px 30px 0px 0px;
    width: 250px;
    height: 50px;
}
    input[type='text'] 
    {
        padding-left: 45px;
        font-size: 23px;
        background-size: 30px;
        background-position: 7px 7px;
        background-repeat: no-repeat;
    }
  
button
{
    font-size: 23px;
    width: 250px;
    height: 50px;
    color: white;
    background-color: rgb(184, 53, 53);
    border: transparent;
}

.border
{
  border: 1px solid gray;
  border-radius: 7px;
}

h3{
  
  text-align: center;
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 24px;
}

.search-title{
  text-align: left;
  display: block;
  font-weight: bold;
  font-size: 1.5em;
  margin-block-start: 0.23em;
  margin-block-end: 0.23em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 34px;
}    
.medium-title{
  text-align: center;
  font-weight: bold;
  display: block;
  font-size: 1.5em;
  margin-block-start: 1.5em;
  margin-block-end: 0.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 34px;
}