<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Work finder</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="ROBOTS" content="NOINDEX, NOFOLLOW" />
	<link rel="icon" type="image/png" href="~/images/favicon.png" />
</head>
<body>
    <div id="notification-box"></div>
    <div id='container'></div>
	<script type="text/javascript" src="~/js/@ViewData["javaScript"]" async></script>
</body>
</html>